body {
    background-color: #353831;
}

.box {
    color: ;
}

.item {
    align-items: center;
    width: 22%;
    height: 30vh;
    color: #301A4B;
    background-color: #6DB1BF;
    padding: 2vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #3F5E5A;
    border-radius: 2vw;
    box-sizing: border-box;
    margin-bottom: 2vmin;
    font-size: 2.5vmin;
    overflow: hidden;
}

.removeButton {
    align-items: end;
}


@media screen and (max-width: 900px) {
    .card {
        font-size: 2vmin;
    }
}
